@font-face {
    font-family: 'Space Grotesk';
    src: url('../assets/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wdth_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Trispace';
    src: url('../assets/fonts/Trispace/Trispace-VariableFont_wdth_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}


@keyframes slide-out {
    from {
        transform: translate(100%, -50%);
        opacity: 0;
    }
    to {
        transform: translate(0%, -50%);
        opacity: 100;
    }
  }

@keyframes slide-in {
    from {
        transform: translate(0%, -50%);
        opacity: 100;
    }
    to {
        transform: translate(100%, -50%);
        opacity: 0;
    }
}

/* elements default styles */

body {
    background: linear-gradient(90deg, #EEA8A7 50%, #B6DDD8 50%);
    /* background-color: #EEA8A7; */
    /* background-color: #B6DDD8; */
    color: #25313C;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

section {
    padding-top: 30px;
    padding-bottom: 30px;
}

h2 {
    text-align: left;
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 32px;

}

h1 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 58px;
    margin-bottom: 15px;
}

p {
    font-family: 'Poppins';
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 5px;
}

button {
    padding: 12px;
    background-color: #B6DDD8;
    font-family: 'Poppins';
    font-weight: 400;
    border-radius: 12px;
    border: none;
    min-width: 120px;
}

.Container {
    max-width: 1318px;
    margin-right: auto;
    margin-left: auto;
}

.AppContainer {
    height: 100vh;
    overflow-y: scroll;
}

/* styles for navbar and tabbar */

.Bar{
    /* background-color: rgba(250, 235, 215, 0.685);  */
    background-color: antiquewhite;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.Bar.Nav{
    font-size: 20px;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
}

.Bar.Tab{
    border-radius: 12px;
    height: 24px;
    width: fit-content;
    position: fixed;
    justify-content: center;
    column-gap: 60px;
    top: auto;
    bottom: 15px;
    left: 50%;
    right: 0%;
    transform: translateX(-50%);
}

.Bar.Tab img{
    height: 24px;
}

.Bar.Tab div{
    transition: all;
    transition-duration: 350ms;
}

.Bar.Tab div:hover {
    cursor: pointer;
    transform: scale(1.2);
}

/* holds current queue of playing songs */

.NowPlaying {
    display: none;
    background-color: antiquewhite;
    filter: blur();
    border-radius: 12px;
    overflow: hidden;
    height: 430px;
    position: fixed;
    top: 50%;
    bottom: auto;
    left: auto;
    right: 60px;
    width: 320px;
    padding: 15px;
}


.SlideOut{
    animation: slide-in 0.5s forwards;
}

.SlideIn{
    animation: slide-out 0.5s forwards;
}

.NowPlaying h2{
    font-size: 24px;
    margin-top: 8px;
}

p.NowPlaying {
    margin-top: 15px;
    font-size: 13px;
}

.PlayerControllerBackboard {
    height: 30%;
    width: 100%;
    margin-left: -15px;
    background-color: antiquewhite;
    position: absolute;
    top: auto;
    bottom: 0%;
}

.PlayerControllerContainer {
    height: 80%;
    width: 90%;
    background-color: #25313c6b;
    border-radius: 12px;
    margin: 5%;

}

.SongList {
    height: 70%;
    overflow-y: scroll;
}

.SongSlip {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 30px;
    padding-bottom: 15px;
}

/* hold the main contends of the app like landing page */

.AppBody {
    /* background-color: aqua; */
    margin: 60px;
    overflow: hidden;
}

/* Hero section of the app */

section.Hero{
    margin-top: 60px;
    margin-bottom: 60px;
}

.Container.HeroDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
}

.HeroTextContainer {
    /* background-color: #EEA8A7; */
    max-width: 40%;
}

.HeroImageContainer {
    /* background-color: #B6DDD8; */
    max-width: 60%;
}

/* Playlist section */

.CardContainer { 
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 60px;
    justify-content: start;

} 












